.card {
	height: 20vh;
    background-color: white;
    border: solid 3px teal;
    color: teal;
    font-size: 66%;
    width: 20vw;
		border-radius: 1em;
}

.cancel-button {
	width: 80%;
	background-color: teal;
	color: white;
	border: none;
}