.card {
	height: 23vh;
	background-color: white;
	border: solid 3px teal;
	color: teal;
	font-size: 66%;
	width: 17vw;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cancel-button {
	width: 80%;
	background-color: teal;
	color: white;
	border: none;
	height: 3.5vh;
}